<div
  #scrollable
  class="px-4 py-3 h-100 overflow-auto"
  infiniteScroll
  [infiniteScrollThrottle]="1000"
  [infiniteScrollContainer]="scrollable"
  (scrolled)="fetchEpisodes()"
>
  <div class="mb-4">
    <h1>Episódios</h1>
    <p>
      Confira os episódios já lançados pela Warner Bros&copy; desde 2013 até
      hoje.
    </p>
  </div>
  <div>
    <app-list
      [error]="hasError()"
      [loading]="isLoading()"
      [listLength]="listItems()?.length"
    >
      @for (item of listItems(); track item.id) {
        <app-episode-card
          [name]="item.name"
          [episode]="item.episode"
          [characters]="item.characters"
          (openDetails)="openDetails(item)"
        />
      }
    </app-list>
  </div>
</div>
