<div class="dashboard-grid">
  <header
    class="sticky-top bg-body-tertiary d-flex justify-content-between align-items-center p-3 border-bottom"
  >
    <div class="container-fluid">
      <div class="fs-5 text-decoration-none text-dark" href="#">
        Rick and Morty Dashboard
      </div>
    </div>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Busca"
        aria-label="Busca"
      />
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </header>
  <aside class="p-4 bg-light border-end">
    <ul class="d-flex flex-column gap-2 list-unstyled">
      <li>
        <button class="rounded px-2 py-1 w-100 text-start menu-item">
          test
        </button>
      </li>
      <li>test</li>
    </ul>
  </aside>
</div>
