<aside class="p-3 bg-light-subtle border-end">
  <ul class="d-flex flex-column gap-2 list-unstyled">
    <li>
      <button
        class="d-flex gap-2 align-items-center rounded transition px-3 py-2 w-100 text-start menu-item"
      >
        <i class="bi bi-tv"></i>
        Episódios
      </button>
    </li>
    <li>
      <button
        class="d-flex gap-2 align-items-center rounded transition px-3 py-2 w-100 text-start menu-item"
      >
        <i class="bi bi-person"></i>
        Personagens
      </button>
    </li>
  </ul>
</aside>
