@import "bs-variables";

:host {
  height: 100%;
}

.sidebar-full-size {
  width: 200px;
}

aside {
  height: 100%;

  button {
    background-color: transparent;
    border: none;

    &:hover {
      background-color: $gray-200;
      box-shadow: $box-shadow-sm;
    }
  }
}
